#st-body{
    width: 1036px;
    margin: 0 auto;
    font: 24px 黑体;
    line-height: normal;
    color: white;
}
#banner{
    position: relative;
    height: 570px;
}
#banner-title{
    font-weight: bold;
    text-align: center;
    font-size: 62px;
    padding: 12px;
    background-color: var(--sub-color);
    box-shadow: 0 0 8px black;
}
#date{
    position: absolute;
    font-weight: bold;
    height: auto;
    left: 0;
    bottom: 0;
    font-size: 36px;
    padding: 4px 12px;
    background: linear-gradient(to right, var(--sub-color), transparent);
}
#about{
    position:absolute;
    right: 0;
    bottom: 0;
    font-size: 36px;
    padding: 12px;
    background-color: var(--little-about-color);
}
#about p{
    font-weight: bold;
    margin-bottom: 0;
}
#about .little-about{
    text-align: right;
    font-size: 26px;
    font-weight: normal;
}
#main-body{
    display: flex;
    flex-direction: column;
    image-rendering: auto;
}
#main-body .body-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.body-row.full>div{
    width: 988px;
}
.text-border{
    -webkit-text-stroke: 0.14em var(--main-color);
    height: 0;
    user-select: none;
}
.text{
    color: white;
}
.st-component{
    margin: 8px;
}
.st-component.full{
    width: 988px;
}
.text-region{
    width: 480px;
    padding: 6px;
    box-sizing: content-box;
}
.party {
    user-select: none;
    width: 480px;
    height: 205px;
    background: white;
    display: flex;
    border: 6px solid var(--main-color);
    box-sizing: content-box;
    border-radius: 6px;
    transition: box-shadow 0.2s linear;
    box-shadow: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: "黑体"; */
    font-size: 13px;
    color: black;
}
.union {
    width: 150px;
    height: 195px;
    margin: 5px;
    position: relative;
    /* background-color: crimson; */
}
.union img {
    display: block;
}
.wfo{
    border: 2px solid white;
    border-radius: 4px;
    box-shadow: 0 0 4px black;
    margin: 2px 0;
    width: 62px;
    cursor: pointer;
}
.wfo-slot {
    border: 3px solid white;
    border-radius: 3px;
    margin: 2px;
    position: absolute;
    /* background-color: aqua; */
    background-color: white;
    box-shadow: 0 0 2px black;
    cursor: pointer;
}
.wfo-slot-mb {
    border-radius: 3px;
    margin: 2px;
    position: absolute;
    background-color: white;
    border: 1px solid gray;
    box-sizing: content-box;
    /* box-shadow: 0 0 2px black; */
}
.wfo-slot>img{
    user-select: none;
}
.sub-title{
    font: 42px 黑体;
    font-weight: bold;
    padding: 0 16px;
    box-shadow: 0 0 8px black;
}
/* #main-body>.body-row.little-title{
    justify-content: start;
} */
.little-title p{
    /* font-weight: bold; */
    margin-bottom: 0;
}
.little-title{
    font: 32px 黑体;
    /* margin-left: 4px; */
    /* margin-right: 4px; */
    margin-bottom: 0;
    padding-bottom: 0;
}
.notop div{
    margin-top: 0;
    padding-top: 0;
}
#footer{
    background-color: var(--main-color);
    padding: 12px 18px;
}
.align-right{
    text-align: right;
    /*  */
}
.title-ele-icon{
    margin: -8px 8px 0;
    width: 36px;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, .8));
    -webkit-filter: drop-shadow(0 0 4px rgba(0, 0, 0, .8));
}

.ele-none::before {
    background-image: url("/assets/worldflipper/icon/none.png");
}
.ele-fire::before {
    background-image: url("/assets/worldflipper/icon/fire.png");
}
.ele-water::before {
    background-image: url("/assets/worldflipper/icon/water.png");
}
.ele-thunder::before {
    background-image: url("/assets/worldflipper/icon/thunder.png");
}
.ele-wind::before {
    background-image: url("/assets/worldflipper/icon/wind.png");
}
.ele-light::before {
    background-image: url("/assets/worldflipper/icon/light.png");
}
.ele-dark::before {
    background-image: url("/assets/worldflipper/icon/dark.png");
}
.wfo-slot.main::before, .wfo-slot.unison::before, .wfo::before {
    content: "";
    background-size: 14px;
    background-position: 1px 1px;
    background-repeat: no-repeat;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -2px;
    right: -2px;
    border-radius: 2px;
    background-color: white;
    z-index: 10;
}
.main {
    z-index: 3;
    width: 88px;
    height: 104px;
    left: 0;
    top: 0;
}
.main > img {
    width: 82px;
    height: 82px;
}
.armament {
    z-index: 5;
    width: 60px;
    height: 76px;
    top: 16px;
    right: 0;
}
.armament > img {
    width: 54px;
    height: 54px;
}
.unison {
    z-index: 2;
    width: 75px;
    height: 91px;
    bottom: 0;
    right: 0;
}
.unison > img {
    width: 69px;
    height: 69px;
}
.core {
    box-shadow: none;
    width: 60px;
    height: 76px;
    bottom: 3px;
    left: 5px;
}
.core > img {
    width: 54px;
    height: 54px;
}
.char > img {
    width: 54px;
    height: 54px;
}
.icon {
    background: white;
    width: 46px;
    height: 46px;
    border: 2px solid white;
    box-sizing: content-box;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 black;
    vertical-align: bottom;
    margin: 0 4px;
}
.highlight {
    color: orange;
}